@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  background: #dddddd;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.text-12 {
  @apply text-[12px]
}
.text-16 {
  @apply text-[16px]
}

.text-18 {
  @apply text-[18px]
}

.FlexCenter {
  @apply flex items-center justify-center
}

.Flex {
  @apply flex items-center
}

/* background sign in */
.bgSignIn {
  background-image: url('./assets/bgLogin.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}